{{ $id := replace (print $.Title) " " "" }}

<div class="image-slider" id="{{ $id }}" style="width: 1088px; height:816px;">
    <div data-u="slides" style="width:1088px; height:816px;">
    {{ range .Params.images }}
        <div style="display: none;">
            <img data-u="image" src="/images/{{ $.Section }}/{{ replace $.Title " " "" }}/{{ . }}"/>
        </div>    
    {{ end }}
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
        <!-- bullet navigator item prototype -->
        <div data-u="prototype" style="width:16px;height:16px;"></div>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
</div>
